/*
   
    snudog care center
		
*/



/*
   
   Table Of Content
   
   1. Global Style
   2. Preloader
   3. Home Section and Navigation Menu
   4. About Me
   5. Services
   6. Call to Action
   7. Contact Us
   8. Social Icons
   9. Footer
  10. Responsive
  11. Scroll To Top
  12. Useful Classes ( Such as : Margin, Padding, colors)
  13. UiPasta Credit
 

*/



/* Global Style */

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}

html,
body {
    height: 100%
}

::selection {
    background-color: #000;
    color: #ffffff;
}

::-moz-selection {
    background-color: #000;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-size: 15px;
   font-weight: 600; 
	 font-family: 'Roboto','Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 100px 0px;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 23px;
    margin: 0 auto;
    padding: 10px 0;
    width: 350px;
	margin-bottom: 30px;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
}


.section-title p {
  font-weight: 600;
	line-height: 25px;
	margin-bottom: 40px;
  font-size: 15px;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
}

.bg-cover {
	background-repeat: no-repeat;
}

.grabbing {
	cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.demo a {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
}
.demo a:hover {
  opacity: .4;
}

 #scroll a {
  padding-top: -80px;
}

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

body.loaded #preloader{
    opacity: 0;
    visibility: hidden;
}

.loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Home Section and Navigation Menu */

.home-section {
    height: 50%;
}

.home-section-background:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


.home-section-background h1 {
    color: #f8f8f8;
    font-size: 40px;
    letter-spacing: 5px;
    margin: 0;
}

.home-section-background p {
    color: #f8f8f8;
    letter-spacing: 4px;
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 14px;
}

.navigation-menu .navbar-nav li a {
    color: #fff;
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #fefefe;
}


/* Services */

.services-section {
  background-color: #F9F9F9;
}

.services-section hr {
  border-bottom: 2px solid #000;
  width: 60px;
  margin-left: 0px;
}

.services-section .services-detail {
  border-radius: 4px;
  border-bottom-right-radius: 20%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 60px 40px 60px 40px;
  margin-top: 32px;
}

.services-section .services-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}




/* Call to Action */


.call-to-action h3 {
	font-size: 10px;
  font-weight: 500;
}



/* contents */

.contents-us {
  text-align: left;
	background-color: #f9f9f9;
  margin-bottom: 10px;
}
.contents-us-detail h3{
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
  font-weight: 600;
}

.contents-us-detail p{
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
  font-weight: 400;
}

.contents-us-detail li{
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
  font-weight: 400;
}

.contents-us-detail i {
  margin-right:10px;
	font-size: 25px;
}


/* Social Icons */

.social-icon {
  margin-top: -10px;
  text-align: center;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon li {
  display: inline-block;
  text-align: center;
  margin: 0px 4px;
}

.social-icon li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 27px;
  color: #fff;
  text-align: center;
  border: 0 none;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}

.social-icon li a:hover {
   box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}

.social-icon li a .fa {
  line-height: inherit;
}


.facebook {
   background-color: #000;
}

.instagram {
   background-color: #000;
}

.blog {
   background-color: #000;
}

.youtube {
   background-color: #000;
}


/* Footer */

.footer-section {
    background: #fff;
    padding: 70px 0px;
    color: #000;
}

.footer-section p {
    font-size: 13px;
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    font-weight: 600;
}

.footer-section a {
    color: #000;
}



/* Responsive */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
	.navigation-background .logo {
		padding-top: 28px;
	}
}


@media only screen and (max-width: 991px) {
    .about-section img {
        position: inherit;
     }
	 
     .call-to-action h2 {
        font-size: 20px;
	 }
	 
     .space-set {
        margin-top: 70px;
	 }
	 
     .footer-section p {
         text-align: center !important;
     }
}


@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #f8f8f8;
    }
    .navigation-background .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    .navbar {
        min-height: 0px;
    }
    .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navigation-menu .navbar-nav li a:hover {
        color: #898989;
    }
    .navigation-background .navigation-menu .navbar-nav li a:hover {
        color: #898989;
    }
    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {
        margin-top: -30px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .navigation-background .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .home-section-background {
        padding-top: 120px;
    }
    .home-section-background h2 {
        font-size: 15px;
        font-family: 'Roboto','Noto Sans KR', sans-serif;
    }
    .section-title h2 {
        font-size: 18px;
    }
    .testimonial-word {
        padding: 0;
    }
    .testimonial-carousel-list {
        margin-top: 0px;
    }
    .statistics-center {
        margin-left: 20%;
	}
    .call-to-action h2 {
        font-size: 15px;
        line-height: 35px;
	}
    .contact-us-detail {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 555px) {
	.social-icon li a {
         width: 30px;
         height: 30px;
         line-height: 20px;
         font-size: 15px;
      }
	  
     .section-title h2 {
         font-size: 30px;
         font-family: 'Roboto','Noto Sans KR', sans-serif;
         font-weight: 600;
       }
	 
      .section-title p {
         font-weight: 400;
         font-size: 16px;
      }
	  
     .home-section-background h2 {
         font-size: 15px;
         font-family: 'Roboto','Noto Sans KR', sans-serif;
      }
	  
     .home-section-background p {
         font-size: 20px;
      }
}


@media only screen and (max-width: 449px) {
     .button {
          padding: 15px 30px;
          font-weight: 600;
          font-size: 15px;
	  }
	  
     .button-style:before {
          display: none;
	   }
	
}
/* Useful Classes */


/* Spacing ( with Margin and Padding ) */

/* Margin */

.margin-0 {
  margin: 0px !important;
}

/* Margin Top */

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-top-70 {
  margin-top: 70px !important;
}

.margin-top-80 {
  margin-top: 80px !important;
}

.margin-top-90 {
  margin-top: 90px !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.margin-top-120 {
  margin-top: 120px !important;
}

.margin-top-150 {
  margin-top: 150px !important;
}

.margin-top-200 {
  margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.margin-bottom-90 {
  margin-bottom: 90px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-bottom-120 {
  margin-bottom: 120px !important;
}

.margin-bottom-150 {
  margin-bottom: 150px !important;
}

.margin-bottom-200 {
  margin-bottom: 200px !important;
}



/* Padding */

.padding-0 {
  padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-top-90 {
  padding-top: 90px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.padding-top-120 {
  padding-top: 120px !important;
}

.padding-top-150 {
  padding-top: 150px !important;
}

.padding-top-200 {
  padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-60 {
  padding-bottom: 60px !important;
}

.padding-bottom-70 {
  padding-bottom: 70px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-90 {
  padding-bottom: 90px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-bottom-120 {
  padding-bottom: 120px !important;
}

.padding-bottom-150 {
  padding-bottom: 150px !important;
}

.padding-bottom-200 {
  padding-bottom: 200px !important;
}



/* Colors */

.color-1 {
  color: #000000;
}

.color-2 {
  color: #000000;
}

.color-3 {
  color: #000000;
}

.color-4 {
  color: #000000;
}

.color-5 {
  color: #000000;
}

.color-6 {
  color: #000000;
}



/* Background Color */

.bg-color-1 {
  background-color: #fff;
}

.bg-color-2 {
  background-color: #fff;
}

.bg-color-3 {
  background-color: #fff;
}

.bg-color-4 {
  background-color: #fff;
}

.bg-color-5 {
  background-color: #fff;
}

.bg-color-6 {
  background-color: #fff;
}



/* Scroll To Top */

.scroll-to-top {
    background-color: #000;
    display: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 999;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color: #000;
    color: #ffffff;
}



/* UiPasta Credit */

.uipasta-credit {
}

.uipasta-credit a {
    color: #000;
    font-weight: 600;
}

.uipasta-credit a:hover {
    color: #ffffff;
}